/************************ HTML ****************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/********************* NAVBAR TOP ************************/


.nav>li:nth-child(1){
  background-color: #ff004b;
  padding: 10px;
}

nav{
  background-color: #7DDFE8;

}
.nav{
  display: flex;
  justify-content: flex-start;
  color: white;
  list-style: none;
  text-align: center;
  align-content: center;
}

/*anchor tag center*/
.nav>li:not(first-child)::before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.nav>li:nth-child(2){
  background-color: #00A5BF;
  width: 11%;
}

.nav>li:nth-child(3){
  background-color: #00B7D3;
  width: 11%;
}

.nav>li:nth-child(4){
  background-color: #00D5E7;
  width: 11%;
}

/********************** NAVBAR BOTTOM **********************/

.nav-bottom{
  background-color: #7DDFE8;
  height: 92px
}

.nav-bottom{
  display: flex;
  justify-content: flex-start;
  color: white;
  list-style: none;
  text-align: center;
  align-content: center;
}

.nav-bottom>li:not(first-child)::before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.nav-bottom>li:nth-child(1){
  background-color: #00A5BF;
  width: 10%;
}

.nav-bottom>li:nth-child(2){
  background-color: #00B7D3;
  width: 10%;
}
.nav-bottom>li:nth-child(3){
  background-color: #00D5E7;
  width: 10%;
}

.nav-bottom>li:nth-child(4){
  color: white;
  width: 100%;
  text-align: right;
  background-color: #7DDFE8;

}


/*********************** CALENDAR ************************/

.Calender-title{
    padding: 1% 1%;
    color: #0B1942;
    font-size: 316%;
}

.Calender{
  background-color: #0B1942;
  color: white;
}

.June{
  padding: 1% 1%;
  font-size: 220%;
}

table {
  background-color: #0B1942;
  border-collapse: collapse;
  color: ;
  font-size: 220%;
  width: 100%;
}
td {
  border: 3px solid #0B1942;
  background-color: white;
  height: 144px;
  width: 144px;
  vertical-align: top;

}

.active-box{
  background-color: #F5005B
}

span{
  background-color:#0B1942;
  padding: 2px 10px 0 10px ;
  margin: 0 0 0 -2px

}

.trick{
  background-color: #0B1942;
  color: #0B1942;
  padding: 10px
}

/************************ JOIN ****************************/
.title-join{
  font-size: 250%;
  padding: 1% 0;
}
.testing123{
  display: flex;
}

.input-text{
  font-size: 100%
}

.aye{
  border-radius: 100%;
  margin: 19% 7% 8%;
}
.sign-in-info-box{
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
}

.sign-in-info-box div{
  width: 50%;
  text-align: left;
}

.sign-in-info-box label{
  font-size: 100%
}

.sign-in-info-box input{
  width: 95%;
  height: 30px;
}
.text-select{
  font-size: 110%;
  margin: 0% 0 2% 0;
}

.select{
  display: flex
}

.select-all-1{
  width: 30%;
  font-size: 141%;
  line-height: 138%;
}

.button {
  background: #F5005B;
  width: 15%;
  border: solid;
  font-size: 100%;
  color: white;
  padding: 2%;
  margin: 3% 1%;
}

.textarea{
  margin: 1% 1%;
  padding-top: 2%;
}
/************************** HOME ****************************/
.index-title{
  display: flex;
  font-size: 160%;
  padding: 1% 1%;
  flex: 1 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.get-involved{
  width: 100%;
  margin: 0 1%;
  padding: 13px 0%;
  font-size: 153%;

}

.get-involved-div{
  width: 30%;
  line-height: 137%;
  margin: 0px 1%;
  font-size: 110%;
}

h2{
  background-color: #0B1942;
  color: white;
  padding: 2% 2%;
}

.bottom-half{
  background-color:#0B1942;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.up-next{
  flex: 1 1 100%;
  font-size: 160%;
  color: white;
  margin: 1% 1%;
}

.box-rashomon{
  margin: 1% 3%;
  font-size: 122%;
  display: flex;
  background-color: #E2E2E2;
  width: 43%;
  height: 100%;
}

    .next-movie{
      background color: white;
      margin: 2% 3% 2% 2%;
}

    .flexed-text{
      margin: 3% 1% 1% 0%;
      width: 50%
}

    .box-one-title{
      font-size: 128%;
}

    .film-club{
      margin: 2% 0% 1% 0%;
}

    .underline{
      margin: 10% 1%;
}

    .box-rashomon ul{
      padding: 1% 12%;

    }

.four-boxes{
  background-color: #E2E2E2;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 47%;
  margin: 1% 1%;
  font-size: 120%;
}

.four-boxes div{
  width: 44%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 2% 3% 1% 1%
}
