/************************ HTML ****************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'PT Sans', sans-serif;
}
/********************* NAVBAR TOP ************************/


.navigation-top{
  display: flex;
  flex-direction: row;
  flex: 1 1 100%
}

.yo{
  background-color: #F5005B;
  width: 102px;
  height: 115px;
  padding: 10px;
  width: 100px
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1 1 75%;
  background-color: #7DDFE8;
  align-items: center;
}

.home{
  padding: 48px 0;
  width: 150px;
  text-align: center;
  background-color: #00A5BF;
  text-decoration: none;
  color: white;
}

.calendar-tag{
  padding: 48px 0;
  width: 150px;
  text-align: center;
  background-color: #00B7D3;
  text-decoration: none;
  color: white;
}

.joins{
  padding: 48px 0;
  width: 150px;
  text-align: center;
  background-color: #00D5E7;
  text-decoration: none;
  color: white;
}

@media (max-width: 544px){
  .nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 75%;
    background-color: #7DDFE8;
  }

  .home{
    padding: 10px;
    flex: 0 1 10%;
    text-align: center;
    background-color: #00A5BF;
    width: 100%;
  }

  .calendar-tag{
    padding: 10px;
    flex: 0 1 10%;
    text-align: center;
    background-color: #00B7D3;
    width: 100%;
  }

  .joins{
    padding: 10px;
    flex: 0 1 10%;
    text-align: center;
    background-color: #00D5E7;
    width: 100%;
  }
}



/********************** NAVBAR BOTTOM **********************/

.TM{
  text-decoration: none;
  color: white;
  flex: 1 1 75%;
  text-align: end;
}


@media (max-width: 544px){
  .nav-bottom{
    display: flex;
    justify-content: flex-start;
    color: white;
    list-style: none;
    text-align: center;
    align-content: center;
    flex-direction: column;
  }

  .nav-bar-bottom1{
    background-color: #00A5BF;
    width: 100%;
  }

  .nav-bar-bottom2{
    background-color: #00B7D3;
    width: 100%;
  }

  .nav-bar-bottom3{
      background-color: #00D5E7;
      width: 100%;
  }
  .TM{
    padding:28px
  }
}



/*********************** CALENDAR ************************/

.Calender-title{
    padding: 1% 1%;
    color: #0B1942;
    font-size: 316%;
}

.Calender{
  background-color: #0B1942;
  color: white;
}

.June{
  padding: 1% 1%;
  font-size: 220%;
}

table {
  background-color: #0B1942;
  border-collapse: collapse;
  color: ;
  font-size: 140%;
  width: 100%;
}
td {
  border: 3px solid #0B1942;
  background-color: white;
  height: 15vw;
  width: 144px;
  vertical-align: top;

}

.active-box{
  background-color: #F5005B
}

span{
  background-color:#0B1942;
  padding: 1% 5% 1% 5% ;
  margin: 0 0 0 -2px

}

.trick{
  background-color: #0B1942;
  color: #0B1942;
  padding: 10px
}




/************************ JOIN ****************************/
form{
  margin: 0 10px;
}

.title-join{
  font-size: 250%;
  padding: 1% 0;
}
.testing123{
  display: flex;
}

.input-text{
  font-size: 100%
}

.aye{
  border-radius: 100%;
  margin: 8% 7% 8%;
}
.sign-in-info-box{
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
}

.sign-in-info-box div{
  width: 50%;
  text-align: left;
}

.sign-in-info-box label{
  font-size: 100%
}

.sign-in-info-box input{
  width: 95%;
  height: 30px;
}
.select{
  display: flex;
  flex-wrap: wrap;
}

.option-1{
  flex: 0 1 30%;
  padding: 10px 0;
}

.button {
  background: #F5005B;
  width: 150px;
  border: solid;
  font-size: 100%;
  color: white;
  padding: 2%;
  margin: 3% 1%;
  height: 75px;
}

.textarea{
  margin: 1% 1%;
  padding-top: 2%;
}

.AI-BOX{
  width: 95%;
}

@media (max-width: 770px){
  .sign-in-info-box div{
    width: 100%;
  }

  .order-1{
    order: 1;
    padding-bottom: 20px
  }

  .order-2{
    order: 2;
    padding-bottom: 80px;
  }

  .order-3{
    order: 3;
    padding-bottom: 20px
  }

  .order-4{
    order: 4
  }

  .option-1{
    flex: 0 1 50%;
    padding: 10px 0;
  }
}

@media (max-width: 544px){
  .aye-1{
    display: flex;
    flex-direction: column;
  }

  .sign-in-info-box{
    display: block;
    height: 235px
  }

  .testing123{
    display: block;
  }

  .select{
    display: block
  }

  .order: 1;{
  padding-bottom: 0px
}

.order-2{
  order: 2;
  padding-bottom: 0px;
}

.order-3{
  order: 3;
  padding-bottom: 0px
}

.order-4{
  order: 4
}

}
/************************** HOME ****************************/
.index-title{
  display: flex;
  font-size: 160%;
  padding: 1% 1%;
  flex: 1 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.get-involved{
  width: 100%;
  margin: 0 1%;
  padding: 13px 0%;
  font-size: 153%;

}

.get-involved-div{
  width: 30%;
  line-height: 137%;
  margin: 0px 1%;
  font-size: 110%;
}

.h2{
  background-color: #0B1942;
  color: white;
  padding: 2% 2%;
}

.bottom-half{
  background-color:#0B1942;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.up-next{
  flex: 1 1 100%;
  font-size: 160%;
  color: white;
  margin: 1% 1%;
}

.box-rashomon{
  margin: 1% 1%;
  font-size: 122%;
  display: flex;
  background-color: #E2E2E2;
  width: 46%;
  height: 100%;
}

    .next-movie{
      background color: white;
      margin: 2% 3% 2% 2%;
}

    .flexed-text{
      margin: 3% 1% 1% 0%;
      width:100%;

}

    .box-one-title{
      font-size: 128%;
}

    .film-club{
      margin: 2% 0% 1% 0%;
}

    .underline{
      margin: 2% 1%;
}

    .box-rashomon ul{
      padding: 1% 12%;

    }

.four-boxes{
  background-color: #E2E2E2;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 49%;
  margin: 1% 1%;
}

.four-boxes div{
  width: 44%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 2% 3% 10% 1%
}

@media (max-width: 770px){
  .box-rashomon{
    flex: 1 1 100%;
  }

  .four-boxes{
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: nowrap;
    font-size: 108%;
    margin: 1% 1% 1% 1%
  }

  .box-rashomon ul{
    padding: 1% 5%;
  }

  .get-involved-div{
    width: 30%;
    line-height: 137%;
    margin: 0px 1%;
    font-size: 89%;
}

@media (max-width: 544px){
  .get-involved-div{
    width: 30%;
    line-height: 137%;
    margin: 0px 1%;
    font-size: 110%;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }

  .get-involved-paragraph{
    padding: 30px
  }

  .four-boxes{
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    font-size: 108%;
    margin: 1% 1% 1% 1%
  }

}
