/************************ HTML ****************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;


}
/********************* NAVBAR TOP ************************/
.navigation-top{
  top: 0;
  width: 100%;

  background-color: #7DDFE8;
  margin: -28px 0 0 0
}

.yo{
  position: absolute;
  background-color: red;
  padding: 0% 0%;
}

.nav{
  display: flex;
  justify-content: flex-start;
  padding: 0 110px;
  color: white;
  list-style: none;
  font-size: 28px;
  text-align: center;

}

.nav-bar{
  padding: 42px 0px;

}

.home-box{
  width:


  background-color: #00A5BF
}

.Calender-box{


  background-color: #00B7D3
}

.Join-box{


  background-color: #00D5E7;
}
/********************** NAVBAR BOTTOM ***********************/
.bottom-nav{
  background-color: #7DDFE8;
  margin: -28px 0 0 0
}

.nav-bottom{
  display: flex;
  color: white;
  list-style: none;
  font-size: 28px;
  text-align: center;
  height: 136px;
  padding: 0;
}

.nav-bar-bottom{
  padding-top: 50px;
  height: 136px;
}

.home-box-bottom{
  height: 136px;
  width: 150px;
  background-color: #00A5BF
}

.Calender-box-bottom{
  height: 136px;
  width: 150px;
  background-color: #00B7D3
}

.Join-box-bottom{
  height: 136px;
  width: 150px;
  background-color: #00D5E7;
}

.copy-right{
  position: absolute;
  right: 0px;
  padding: 35px;
}
/*********************** CALENDAR ************************/
.Calender-title{
    padding: 10px 15px;
    color: #0B1942;
    font-size: 50px;
}

.Calender{
  background-color: #0B1942;
  color: white;
}

.June{
  padding: 10px 15px;
  font-size: 28px;
}

table {
  background-color: #0B1942;
  border-collapse: collapse;
  color: ;
  font-size: 28px;
  width: 100%;
}
td {
  border: 3px solid #0B1942;
  background-color: white;
  height: 144px;
  width: 144px;
  vertical-align: top;

}

.active-box{
  background-color: #F5005B
}

span{
  background-color:#0B1942;
  padding: 2px 10px 0 10px ;
  margin: 0 0 0 -2px

}

.trick{
  background-color: #0B1942;
  color: #0B1942;
  padding: 10px
}

/************************ JOIN ****************************/


.sign-in-info-box{
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  width: 1360px;
}

.sign-in-info-box div{
  width: 45%;
  text-align: left;
}

.sign-in-info-box label{
  font-size: 20px
}

.sign-in-info-box input{
  width: 90%;
  height: 30px;
}
/************************** HOME ****************************/
